html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-width: 1200px; /* Optional, for a centered content with a max width */
    box-sizing: border-box;
}

.pomodoro-header {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.pomodoro-footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.pomodoro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}
